*.pyc

data/headlines.csv
data/companies.csv

process_result/join_companies_to_article copy.ipynb
data/analysis/articles_with_company_name.csv

chromadb/*

*.venv
*.env

***.safetensors
**model_**

checkpoints/**
