*.pyc

data/headlines.csv
data/companies.csv

process_result/join_companies_to_article copy.ipynb
data/analysis/articles_with_company_name.csv
data/analysis/joined_articles_companies.csv
data/article_data/sorted_companies.csv
data/distribution_differences/articles_about_companies_joined_companies.csv

chromadb/*

*.venv
*.env

***.safetensors
**model_**

checkpoints/**
